fastapi 
uvicorn 
docker 
requests 
pydantic 
pydantic-settings
langgraph
langchain
langchain-community
langchain-ollama
pydantic
requests
rich 
prompt-toolkit
apscheduler
sqlalchemy
psycopg2-binary
alembic